  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }

  nav{
    position: fixed;
    margin-bottom: 100px;
    z-index: 2;
  }

  /* Hover effect */
  .right a:hover {
    background-color: white;
    color:black
  }

.parallax-container {
  position: relative;
  overflow: hidden;
  height: 450px;
  padding: 80px;
  margin: auto;
}

.parallax-container .parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.parallax-container .parallax img {
  opacity: 1;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.fixed-action-btn {
    position: relative;
}



/* .about-me {
  text-transform: bold;
  animation-name: zoomInUp, lightSpeedOut;
  animation-duration: 3s,0s;
  animation-delay: 2s,10s;
  animation-fill-mode: backwards, forwards;
  z-index: -1;
}

#animateOne {
  animation-duration: 3s 2s;
  animation-delay: 2s 10s;
  animation-name: zoomOutDown,lightSpeedOut;
  animation-fill-mode: backwards, forwards;
  
} */




